/* COLOR PALLETTE */
:root {
  /* ## Colors

### Primary */
  /* (main background) */
  --Very-dark-blue: hsl(233, 47%, 7%);
  /* (card background) */
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  /* (accent) */
  --Soft-violet: hsl(277, 64%, 61%);

  /* ### Neutral */
  /* (main heading, stats) */
  --White: hsl(0, 0%, 100%);
  /* (main paragraph) */
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (stat headings) */
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);

  /* font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif; */
}

/*****TAG SELECTOR*****/
* {
  box-sizing: border-box;
}
body {
  background-color: black;
}

h1 {
  color: var(--White);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

p {
  color: var(--Slightly-transparent-white);
  font-size: 13px;
  font-family: "Lexend Deca", sans-serif;
  padding-bottom: 3.125rem;
}
span {
  color: var(--Soft-violet);
}
/* img {
  background-image: url(./images/image-header-desktop.jpg);
  width: 470px;
  height: 376px;
} */

/*****CLASS SELECTOR*****/
.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
.container {
  align-items: center;
  background-color: var(--Dark-desaturated-blue);
  border-radius: 8px 0 0 8px;
  display: flex;
  height: 23.5rem;
  justify-content: center;
  width: 29.37rem;
}

/* CARD INFO */
.information {
  display: flex;
  flex-direction: column;
  width: 21.87rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 19.68rem;
}

.tenk,
.t314,
.m12 {
  color: var(--White);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 4px;
}

.companies,
.templates,
.queries {
  color: var(--Slightly-transparent-white);
  font-size: 10px;
  font-family: "Lexend Deca", sans-serif;
}

/* IMAGE */
.image {
  background-image: linear-gradient(
      0deg,
      hsla(277, 80%, 56%, 0.373),
      hsla(277, 80%, 56%, 0.373)
    ),
    url(./images/image-header-mobile.jpg);
  background-size: cover;
  border-radius: 0 8px 8px 0;
  width: 29.37rem;
  height: 23.5rem;
}

/* ATTRIBUTION */
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*****ID SELECTOR*****/

/*****MEDIA QUERY*****/
@media screen and (max-width: 740px) {
  /*****TAG SELECTOR *****/
  h1 {
    font-size: 1.56rem;
    padding: 0 2.5rem;
  }

  p {
    line-height: 1.5;
    padding: 0 2.5rem;
  }

  /*****CLASS SELECTOR*****/
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .container {
    border-radius: 0 0 8px 8px;
    height: 28.75rem;
    text-align: center;
    width: 18.75rem;
  }

  .image {
    background-image: linear-gradient(
        0deg,
        hsla(277, 80%, 56%, 0.373),
        hsla(277, 80%, 56%, 0.373)
      ),
      url(./images/image-header-mobile.jpg);

    border-radius: 8px 8px 0 0;
    height: 13.75rem;
    width: 18.75rem;
  }

  .stats {
    display: flex;
    flex-direction: column;
  }

  .tenk,
  .t314,
  .m12 {
    padding-top: 1.25rem;
  }
}
